@import "variables";
@import "utilities";
@import "variables";

@mixin page {
	margin-top: $navbar-height;
	padding: 2.5em;
	@media only screen and (max-height: $tablet-height) {
		margin-top: $navbar-height-small;
		padding: 1.2em;
	}
	@media only screen and (max-width: $tablet-width) {
		padding: 1.5em;
	}
	@media only screen and (max-width: $mobile-width) {
		margin-top: $navbar-height-small;
		padding: 0.7em;
	}
	@media only screen and (orientation: landscape) and (max-height: $mobile-height-landscape) {
		margin-top: $navbar-height-small;
		padding: 0.55em;
	}
}

@mixin feature {
	@include flex(column, center, center);
	font-size: 1.3rem;
	padding: 1em;
	border-radius: 5px;
	background-color: $feature-color;
	box-shadow: 0 0 10px 2px rgba($color: #000000, $alpha: 0.4);
	overflow: hidden;
	@media only screen and (max-width: $mobile-width) {
		font-size: 1.1rem;
		padding: 0.5em;
	}
	@media only screen and (orientation: landscape) and (max-height: $mobile-height-landscape) {
		font-size: 0.9rem;
		padding: 0.4em;
	}
}

@mixin card-box-shadow {
	box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
