@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

body {
	font-family: "Lato", sans-serif;
	line-height: 1;
	height: 100vh;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
