$mobile-width: 600px;
$mobile-height-landscape: 450px;

$tablet-height: 800px;
$tablet-width: 1250px;

$navbar-height: 80px;
$navbar-height-small: 60px;

$bg-color: rgb(26, 25, 39);
$feature-color: rgb(90, 96, 133);
$navbar-second-color: rgb(253, 170, 184);
$paste-color: rgb(245, 245, 245);

$pretty-blue: rgb(71, 112, 255);
