@import "../../style-partials/presets";

.total-pastes {
	@include feature;
	.count {
		font-size: 3.2rem;
		font-weight: bold;
	}
}

@media only screen and (max-height: $tablet-height) {
	.total-pastes {
		.count {
			font-size: 2.5rem;
		}
	}
}

@media only screen and (max-width: $mobile-width) {
	.total-pastes {
		.count {
			font-size: 2.1rem;
		}
	}
}

@media only screen and (orientation: landscape) and (max-height: $mobile-height-landscape) {
	.total-pastes {
		.count {
			font-size: 1.9rem;
		}
	}
}
