@import "../../style-partials/presets";

.today-pastes {
	@include feature;
	.count {
		font-size: 3.2rem;
		font-weight: bold;
	}
	.rate {
		font-size: 1.8rem;
		font-weight: bold;
	}
}

@media only screen and (max-height: $tablet-height) {
	.today-pastes {
		.count {
			font-size: 2.5rem;
		}
		.rate {
			font-size: 1.5rem;
		}
	}
}

@media only screen and (max-width: $mobile-width) {
	.today-pastes {
		.count {
			font-size: 2.1rem;
		}
		.rate {
			font-size: 1.3rem;
		}
	}
}

@media only screen and (orientation: landscape) and (max-height: $mobile-height-landscape) {
	.today-pastes {
		.count {
			font-size: 1.9rem;
		}
		.rate {
			font-size: 1.25rem;
		}
	}
}
