@import "../../style-partials/utilities";
@import "../../style-partials/presets";
@import "../../style-partials/variables";

.dashboard-page {
	@include page;
	height: calc(100vh - $navbar-height);
	.features-container {
		@include size(100%, 100%);
		gap: 25px;
		display: grid;
		grid-template: repeat(4, minmax(0, 1fr)) / repeat(6, minmax(0, 1fr));
		grid-template-areas:
			"total-pastes total-pastes tags-diagram tags-diagram tags-diagram tags-diagram"
			"today-pastes today-pastes tags-diagram tags-diagram tags-diagram tags-diagram"
			"top-authors top-authors tags-diagram tags-diagram tags-diagram tags-diagram"
			"top-authors top-authors tags-diagram tags-diagram tags-diagram tags-diagram";
		.total-pastes {
			grid-area: total-pastes;
		}
		.today-pastes {
			grid-area: today-pastes;
		}
		.top-authors {
			grid-area: top-authors;
		}
		.tags-diagram {
			grid-area: tags-diagram;
		}
	}
}

@media only screen and (max-width: $mobile-width), (max-height: $tablet-height) {
	.dashboard-page {
		height: calc(100vh - $navbar-height-small);
		.features-container {
			gap: 15px;
		}
	}
}

@media only screen and (max-width: $tablet-width) {
	.dashboard-page {
		.features-container {
			grid-template: repeat(6, minmax(0, 1fr)) / repeat(9, minmax(0, 1fr));
			grid-template-areas:
				"total-pastes total-pastes total-pastes today-pastes today-pastes today-pastes top-authors top-authors top-authors"
				"total-pastes total-pastes total-pastes today-pastes today-pastes today-pastes top-authors top-authors top-authors"
				"tags-diagram tags-diagram tags-diagram tags-diagram tags-diagram tags-diagram top-authors top-authors top-authors"
				"tags-diagram tags-diagram tags-diagram tags-diagram tags-diagram tags-diagram top-authors top-authors top-authors"
				"tags-diagram tags-diagram tags-diagram tags-diagram tags-diagram tags-diagram top-authors top-authors top-authors"
				"tags-diagram tags-diagram tags-diagram tags-diagram tags-diagram tags-diagram top-authors top-authors top-authors";
		}
	}
}

@media only screen and (max-width: $mobile-width) {
	.dashboard-page {
		.features-container {
			grid-template: repeat(5, minmax(0, 1fr)) / repeat(2, minmax(0, 1fr));
			grid-template-areas:
				"total-pastes today-pastes"
				"tags-diagram tags-diagram"
				"tags-diagram tags-diagram"
				"top-authors top-authors"
				"top-authors top-authors";
		}
		.features-container {
			gap: 10px;
		}
	}
}

@media only screen and (orientation: landscape) and (max-height: $mobile-height-landscape) {
	.dashboard-page {
		.features-container {
			gap: 8px;
		}
	}
}
